
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input-div {

  margin-top: 1vh;
  font-size: 2.5vmin;

  input {
    margin-top: 0.3vh;
    border-radius: 3px;
    display: block;
    width: 20vw;
    height: 2vh;
  }

}
